<div id="portfolio-page" class=<%= class_name %>>

  <h1>Portfolio</h1>

  <h3>Android applications:</h3>

  <div>
    <p class="max">Why navigate YouTube when you can just launch an app of your favorite channel? Let me know if you
      have a favorite channel and I'll build it and post it. All content and images is pulled from public YouTube APIs.
      All the apps are free and ad free.</p>  <br/>

    <p>The code can be found on <a href="https://github.com/sgehrman/UTubeTV" target="_blank">GitHub</a></p>.
    <a href="https://github.com/sgehrman/UTubeTV" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>

    <%
       folder_url = "https://googledrive.com/host/0BzWQtvPqqX8gajhoc0NkYjdXVGc/"
    %>

    <p class="max"><b>These applications display a single YouTube channel.</b></p>

    <a class="download" href=<%= folder_url + "UTubeTV-androiddevs-release.apk"%>>Android Devs TV</a>
    <a class="download" href=<%= folder_url + "UTubeTV-bigthink-release.apk"%>>Big Think TV</a>
    <a class="download" href=<%= folder_url + "UTubeTV-codeorg-release.apk"%>>Code.org TV</a>
    <a class="download" href=<%= folder_url + "UTubeTV-jetdaisuke-release.apk"%>>Jet Daisuke TV</a>
    <a class="download" href=<%= folder_url + "UTubeTV-joerogan-release.apk"%>>Joe Rogan TV</a>
    <a class="download" href=<%= folder_url + "UTubeTV-justinbieber-release.apk"%>>Justin Bieber TV</a>
    <a class="download" href=<%= folder_url + "UTubeTV-khan-release.apk"%>>Khan Academy TV</a>
    <a class="download" href=<%= folder_url + "UTubeTV-lukitsch-release.apk"%>>Mind the Gap TV</a>
    <a class="download" href=<%= folder_url + "UTubeTV-maxkeiser-release.apk"%>>Max Keiser TV</a>
    <a class="download" href=<%= folder_url + "UTubeTV-nerdist-release.apk"%>>Nerdist TV</a>
    <a class="download" href=<%= folder_url + "UTubeTV-neurosoup-release.apk"%>>Neurosoup TV</a>
    <a class="download" href=<%= folder_url + "UTubeTV-pewdiepie-release.apk"%>>Pewdiepie TV</a>
    <a class="download" href=<%= folder_url + "UTubeTV-reasontv-release.apk"%>>Reason TV</a>
    <a class="download" href=<%= folder_url + "UTubeTV-rt-release.apk"%>>RT TV</a>
    <a class="download" href=<%= folder_url + "UTubeTV-svb-release.apk"%>>SVB TV</a>
    <a class="download" href=<%= folder_url + "UTubeTV-theverge-release.apk"%>>The Verge TV</a>
    <a class="download" href=<%= folder_url + "UTubeTV-topgear-release.apk"%>>Top Gear TV</a>
    <a class="download" href=<%= folder_url + "UTubeTV-vice-release.apk"%>>Vice TV</a>
    <a class="download" href=<%= folder_url + "UTubeTV-xda-release.apk"%>>XDA TV</a>
    <a class="download" href=<%= folder_url + "UTubeTV-youtube-release.apk"%>>Youtube Spotlight TV</a>

    <p class="max"><b>This app is customizable. The default channels are tech news related, but any channel can be added or
      removed.</b></p>

    <a class="download" href=<%= folder_url + "UTubeTV-technews-release.apk"%>>Tech News TV</a>

  </div>

  <p>
    <a href="mailto:steve@distantfutu.re">Contact me</a> if you have comments about these apps.
  </p>

  <%= partial "partials/footer" %>

</div>