
<div id="team-page" class=<%= class_name %>>

  <div id="team">

    <% data.team.each do |short_name, person| %>
        <div class="team-member">
          <div
          class="team-member-image <%= cycle("right", "left") %>"
          <% if person.extra_image_style.present? %>
          style="<%= person.extra_image_style %>"
          <% end %>
          >
            <% if image_exists?("team/#{short_name}") %>
                <%
                   file = "team/#{short_name}"

                    image_path = File.join("/", images_dir, file)
                %>

                <div class="back-image" style="background-image: url(<%=image_path%>.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
          <% end %>
          </div>
          <h1><%= person.name %></h1>

          <h2><%= person.title %></h2>

          <% person.bio.each do |pgraph| %>
              <p><%= pgraph %></p>
          <% end %>

          <p><%= 1.sentences %></p>

          <% if person.facebook.present? %>
              <a href="https://facebook.com/<%= person.facebook %>" target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a>
          <% end %>

          <% if person.twitter.present? %>
              <a href="http://twitter.com/<%= person.twitter %>" target="_blank"><i class="fa fa-twitter-square fa-lg"></i></a>
          <% end %>

          <% if person.linkedin.present? %>
              <a href="http://linkedin.com/in/<%= person.linkedin %>" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a>
          <% end %>

          <% if person.github.present? %>
              <a href="http://github.com/<%= person.github %>" target="_blank"><i class="fa fa-github-square fa-lg"></i></a>
          <% end %>
        </div>
    <% end %>

  </div>

  <%= partial "partials/footer" %>

</div>
