
<%
   $display_page = 'main'

   if defined?(page_name)
     $display_page = page_name
   end

   def li_class(page)
     return 'active' if $display_page == page

     return 'not-active'
   end
%>

<% # http://cssmenumaker.com/menu/simple-responsive-menu %>

<div id='cssmenu'>
  <ul>
    <li class=<%= li_class('main') %>><a href='/'><span>Home</span></a></li>
    <li class=<%= li_class('portfolio') %>><a href='/page/portfolio.html'><span>Portfolio</span></a></li>
    <li class=<%= li_class('team') %>><a href='/page/team.html'><span>Team</span></a></li>
    <li class=<%= li_class('jobs') %>><a href='/page/jobs.html'><span>Jobs</span></a></li>
    <li class="last <%= li_class('contact') %>"><a href='/page/contact.html'><span>Contact</span></a></li>
  </ul>
</div>